<AuthorizeView>
    <Authorized>
        Logged in as<br/>@context.User.Identity?.Name
        <a href="logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="registration">Register</a>
        <a href="login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
