@page "/login"
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@using ProsjektOppgaveDTE_2802.AuthProviders
@using ProsjektOppgaveDTE_2802.Models.ViewModel

<PageTitle>Login</PageTitle>

@* <input type="button" class="btn btn-primary" value="Login" @onclick="() => BlazorService.LoginUser(userName, password)" /> *@

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>Login</h4>
            </div>
            <div class="card-body">
                <input type="email" class="form-control" placeholder="Email" @bind="_loginViewModel.Username"/><br/>
                <input type="@_passwordFieldType" class="form-control" placeholder="Password" @bind="_loginViewModel.Password"/><br/>
                <input type="checkbox" @onclick="TogglePasswordVisibility"> Show Password<br/>
                @if (ShowError)
                {
                    <p class="text-danger">@Error</p>
                }
            </div>
            <div class="card-footer">
                <input type="button" class="btn btn-success" value="Log In" @onclick="HandleRegistration"/>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

@code {
    private readonly LoginViewModel _loginViewModel = new();
    private string _passwordFieldType = "password";
    
    private bool ShowError { get; set; }
    private string Error { get; set; }
    
    private void TogglePasswordVisibility()
    {
        _passwordFieldType = _passwordFieldType == "password" ? "text" : "password";
    }

    private async Task HandleRegistration()
    {
        ShowError = false;
        
        var result = await AuthenticationService.Login(_loginViewModel);

        if (result.IsSuccess)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            ShowError = true;
            Error = result.Message;
        }
    }
}