@page "/comment/create/{PostId}"

<h3>Create Comment</h3>

@if (_comment == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-3">
            <EditForm Model="@_comment" OnValidSubmit="Save">
                <DataAnnotationsValidator/>
                <div class="form-group">
                    <div>
                        <label id="comment">Comment:</label>
                        <InputText class="form-control" placeholder="Write Comment here..." @bind-Value="_comment.Text" />
                        <ValidationMessage For="@(()=>_comment.Text)" />
                    </div>

                    <button class="btn btn-primary" type="submit">Save</button>
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    [Parameter]
    public string PostId { get; set; }
    
    private readonly CommentViewModel _comment = new();
    
    private async Task Save()
    {
        _comment.CommentId = 0;
        if (int.TryParse(PostId, out var postId))
        {
            _comment.PostId = postId;
            var response = await HttpClient.PostAsJsonAsync("/api/Comment", _comment);
            NavigationManager.NavigateTo($"/comments/{PostId}");
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
