@page "/blog"

<h3>Create blog</h3>

@if (_blog == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-3">
            <EditForm Model="@_blog" OnValidSubmit="Save">
                <DataAnnotationsValidator/>
                <div class="form-group">
                    <div>
                        <label id="Name">Blog Name:</label>
                        <InputText class="form-control" @bind-Value="_blog.Name" />
                        <ValidationMessage For="@(()=>_blog.Name)" />
                    </div>
                    <div class="form-check form-switch">
                        <label id="Status">Allow post and comments</label>
                        <InputCheckbox class="form-check-input" @bind-Value="Status" />
                    </div>
                        <button class="btn btn-primary" type="submit">Save</button>
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    [Parameter]
    public int BlogId { get; set; }

    private bool Status
    {
        get => _blog.Status == 1;
        set => _blog.Status = value ? 1 : 0;
    }

    private readonly BlogViewModel _blog = new();
    
    private async Task Save()
    {
        var response = await HttpClient.PostAsJsonAsync("/api/Blog", _blog);
        NavigationManager.NavigateTo($"/blogs");
    }
}