@page "/blogs"
@inject IJSRuntime JsRuntime

<h3>Blogs</h3>

@if (_blogs == null) 
{
    <p><em>Loading...</em></p>
}
else
{
    <input @bind="SearchString" @bind:event="oninput" @onkeyup="ApplyFilter" placeholder="Search..." >
    
    <table class="table" >
    <thead>
    <tr>
        <th>Name</th>
        <th>Owner</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var blog in _blogs)
    {
        <tr>
            <td><a href="posts/@blog.BlogId" style="text-decoration:none;  color:inherit;">@blog.Name</a></td>
            <td>@blog.OwnerEmail</td>
            <td><a href="blog/@blog.BlogId">Edit</a></td>
            <td><a class="btn btn-danger" @onclick="@(_ =>ConfirmDelete(blog.BlogId))">Delete</a></td>
        </tr>
    }
    </tbody>
    </table>
}

<a class="btn btn-primary" href="blog">Create Blog</a>

@code {
    private AllBlogViewModel[]? _blogs;
    private string SearchString { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var blogs = await HttpClient.GetFromJsonAsync<AllBlogViewModel[]>("/api/Blog");

        if (blogs != null) 
        {
            _blogs = !string.IsNullOrEmpty(SearchString) 
                ? blogs.Where(b => b.Name.Contains(SearchString, StringComparison.OrdinalIgnoreCase) || 
                                   b.BlogTags.Any(t => t.Tag.Name.Contains(SearchString, StringComparison.OrdinalIgnoreCase))).ToArray() 
                : blogs;
        }
    }
    
    private async Task DeleteBlog(int id)
    {
        await HttpClient.DeleteAsync($"/api/Blog/{id}");
        NavigationManager.NavigateTo($"/blogs", true);
    }
    
    private async Task ConfirmDelete(int id)
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this blog?");
        if (confirmed)
        {
            await DeleteBlog(id);
        }
    }
    
    private async Task ApplyFilter()
    {
        await OnInitializedAsync();
    }
}
