@page "/post/create/{BlogId}"

<h3>Create Post</h3>

@if (_post == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-3">
            <EditForm Model="@_post" OnValidSubmit="Save">
                <DataAnnotationsValidator/>
                <div class="form-group">
                    <div>
                        <label id="post_title">Post Title:</label>
                        <InputText class="form-control" placeholder="Title" @bind-Value="_post.Title" />
                        <ValidationMessage For="@(()=>_post.Title)" />
                    </div>
                    <div>
                        <label id="post_content">Post Content:</label>
                        <InputText class="form-control" placeholder="Content" @bind-Value="_post.Content" />
                        <ValidationMessage For="@(()=>_post.Content)" />
                    </div>
                        
                    <br/><button class="btn btn-primary" type="submit">Save</button>
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    [Parameter]
    public string? BlogId { get; set; }
    
    private readonly PostViewModel _post = new();
    
    private async Task Save()
    {
        _post.PostId = 0;
        if (int.TryParse(BlogId, out var blogId))
        {
            _post.BlogId = blogId;
            var response = await HttpClient.PostAsJsonAsync("/api/Post", _post);
            NavigationManager.NavigateTo($"/posts/{BlogId}");
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }
    }
}