@page "/post/{PostId}"

<h3>Edit post</h3>

@if (_post == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-3">
            <EditForm Model="@_post" OnValidSubmit="Save">
                <DataAnnotationsValidator/>
                <div class="form-group">
                    <div>
                        <label id="post_title">Post Title:</label>
                        <InputText class="form-control" @bind-Value="_post.Title" />
                        <ValidationMessage For="@(()=>_post.Title)" />
                    </div>
                    <div>
                        <label id="post_content">Post Content:</label>
                        <InputText class="form-control" @bind-Value="_post.Content" />
                        <ValidationMessage For="@(()=>_post.Content)" />
                    </div>
                    
                    <br/><button class="btn btn-primary" type="submit">Save</button>
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    [Parameter]
    public int PostId { get; set; }

    private PostViewModel? _post;
    
    protected override async Task OnInitializedAsync()
    {
        _post = await HttpClient.GetFromJsonAsync<PostViewModel>($"/api/Post/{PostId}");
    }

    private async Task Save()
    {
        var response = await HttpClient.PutAsJsonAsync($"/api/Post/{PostId}", _post);
        NavigationManager.NavigateTo($"/posts/{_post.BlogId}");
    }
}