@page "/post/{PostId:int}"

<h3>Edit post</h3>

@if (post == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-3">
            <EditForm Model="@post" OnValidSubmit="Save">
                <DataAnnotationsValidator/>
                <div class="form-group">
                        <div>
                            <label for="Name">Post Title:</label>
                        <InputText class="form-control" @bind-Value="post.Title" />
                        <ValidationMessage For="@(()=>post.Title)" />
                        </div>
                        <div>
                            <label for="Content">Post Content:</label>
                            <InputText class="form-control" @bind-Value="post.Content" />
                            <ValidationMessage For="@(()=>post.Content)" />
                        </div>
                        <button class="btn btn-primary" type="submit">Save</button>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </EditForm>
        </div>
    </div>
}


@code {
    [Parameter]
    public int PostId { get; set; }

    private Post post;
    protected override async Task OnInitializedAsync()
    {
        post = await HttpClient.GetFromJsonAsync<Post>($"/api/Post/{PostId}");
    }

    private async Task Save()
    {
        var response = await HttpClient.PutAsJsonAsync($"/api/Post/{PostId}", post);
    }
}